/***************************************************************
*************************************************************
Aquí empiezan los estilos de la corporación

**************************************************************/
.video-holder{
	background: url('../images/iphone5s.png') no-repeat 1px 1px;
	float: left;
	width: 354px;
	margin: 0 1em;
	height: 650px;
	padding: 122px 30px 59px 59px;
}
.video-holder iframe{
	border: 1px solid #000;
}
.primera-seccion{
	margin: 1em 0;
	width:550px;
}
.bajada{
	font-family: 'museo300';
	font-weight:300;
	font-size:1.25em;
}



